.box {
    font-size: 10px;
    width: 20em;
    height: 15em;
    border: 0.2em solid black;
    border-radius: 1em;
    margin: 4em auto;
}



/* two length params, [x-off-set, y-off-set] */
.two-length-param {
    box-shadow: 1em 1em gray;
}



/* three length params, [x-off-set, y-off-set, blurry] */
.three-length-param {
    box-shadow: 1em 1em 1em gray;
}



/* four length params, [x-off-set, y-off-set, blurry, expansion] */
.four-length-param {
    box-shadow: 0 0 1.5em 1.5em gray;
}



/* inset two length params, [x-off-set, y-off-set] */
.inset-two-length-param {
    box-shadow: inset 0.5em 0.5em hsla(0, 0%, 0%, 0.2);
}



/* inset three length params, [x-off-set, y-off-set, blurry] */
.inset-three-length-param {
    box-shadow: inset 0.2em 0.2em 0.5em  hsla(0, 0%, 0%, 0.2);
}



/* inset four length params, [x-off-set, y-off-set, blurry, expansion] */
.inset-four-length-param {
    box-shadow: inset 0 0 0.5em 0.5em  hsla(0, 0%, 0%, 0.2);
}



/* multi shadow */
.multi-shadow-wood {
    background-color: lightyellow;
    border: 2em solid burlywood;
    box-shadow:
        inset 0.4em 0.4em 0.1em 0.5em hsla(0, 0%, 0%, 0.4),
        0 0.3em 2em 0.4em hsla(0, 0%, 0%, 0.3);
}



/* triple shadow */
.triple-shadow {
    font-size: 10px;
    margin: 4em auto;
    height: 8em;
    width: 8em;
    background-color: #eee;
    box-shadow:
        0 0 0 0.5em hsla(19, 56%, 40%, 0.8),
        0 0 0 0.8em hsla(48, 100%, 93%, 0.8),
        0 0 1em 1em hsla(19, 56%, 40%, 0.8);
}



/* copy self shadow */
.copy-self-shadow {
    font-size: 10px;
    margin: 4em auto;
    height: 1em;
    width: 1em;
    color: orange;
    border-radius: 50%;
    border: 1px dashed black;
    box-shadow:
        1.1em 0,
        0 1.1em,
        1.1em 1.1em,
        2.2em 1.1em,
        1.1em 2.2em;
}



/* copy self shadow 0 */
.copy-self-shadow-0 {
    font-size: 10px;
    margin: 4em auto;
    height: 1em;
    width: 1em;
    color: orange;
    background-color: currentColor;
    border-radius: 50%;
    box-shadow:
        0 -1.1em 0 -0.1em tomato,
        -1.1em 0 0 0.2em gold,
        1.1em 0 0 0.2em gold,
        0 1.1em 0 0.1em;
}



/* drop shadow */
.drop-shadow {
    font-size: 10px;
    margin: 4em auto;
    box-sizing: border-box;
    width: 20em;
    height: 22em;
    color: orange;
    border: 3em solid;
    border-radius: 50%;
    position: relative;
    filter: drop-shadow(21em 0);
}
.drop-shadow::before {
    content: '';
    position: absolute;
    width: 10em;
    height: 5em;
    top: 11em;
    left: 9em;
    background-color: currentColor;
    border-radius: 50%;
    transform: rotate(45deg);
}