/* error-404 box */
.error-404 {
    height: 400px;
    width: 500px;
    padding: 120px 60px;
    background-color: slategray;
    opacity: 0.8;
}

.error-404 p {
    font-size: 50px;
    width: 7em;
    color: whitesmoke;
    font-family: sans-serif;
    font-weight: bold;
    position: relative;
    padding: 0.6em 0.4em;
    z-index: auto;
}

.error-404 p::before,
.error-404 p::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0.2em solid orange;
    transform: rotate(45deg);
    box-shadow: 0.3em 0.3em 0.3em hsl(0, 0%, 35%, .8);
}

.error-404 p::before {
    border-style: solid solid none none;
}
.error-404 p::after {
    border-style: none none solid solid;
}

.error-404 p::before {z-index: -1;}



/* circle */
.circle,
.circle::before,
.circle::after {
    width: 10em;
    height: 10em;
    box-sizing: border-box;
    border-top: 0.3em solid currentColor;
    border-radius: 50%;
    position: relative;
}

.circle::before,
.circle::after {
    content: '';
    position: absolute;
    top: -0.2em;
}

.circle {color: hotpink;}
.circle::before {color: dodgerblue;}
.circle::after {color: gold;}

.circle::before {transform: rotate(120deg);}
.circle::after {transform: rotate(240deg);}



/* computer */
.computer {
    font-size: 10px;
    width: 25em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: darkorange;
}

.computer > * {
    position: relative;
    box-sizing: border-box;
}

.computer > *::before,
.computer > *::after {
    content: '';
    position: absolute;
    box-sizing: border-box;
}

.monitor {
    width: 17em;
    height: 10em;
    border: 0.5em solid;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: -2em;
}

.monitor::before {
    width: 1.5em;
    height: 3em;
    background-color: currentColor;
    top: 9.5em;
}

.monitor::after {
    width: 5em;
    height: 1em;
    background-color: currentColor;
    border-radius: 0.3em;
    top: 12.5em;
}

.host {
    width: 7em;
    height: 14em;
    border: 0.5em solid;
    border-radius: 0.5em;
}

.host::before {
    width: 5em;
    height: 1em;
    background-color: currentColor;
    border-radius: 0.2em;
    top: 8em;
    left: 0.5em;
    box-shadow: 0 1.5em 0;
}

.host::after {
    width: 0.6em;
    height: 0.6em;
    background-color: currentColor;
    border-radius: 50%;
    right: 1.5em;
    bottom: 0.5em;
    box-shadow: 1em 0 0 0.1em;
}



/* heart */
.heart {
    font-size: 10px;
    width: 12em;
    position: relative;
    display: flex;
}

.heart::before,
.heart::after {
    content: '';
    position: relative;
    width: 6em;
    height: 10em;
    border-radius: 3em 3em 0 0;
    background-color: hsl(0, 79%, 72%, 1);
}

.heart::before {
    transform-origin: right bottom;
    transform: rotate(45deg);
}
.heart::after {
    transform-origin: left bottom;
    transform: rotate(-45deg);
}